.employeeform{
    width: 100vw;
    display:flex;
    justify-content: center;
}

.employeeformhead{
    font-size: 25px;
    color: blue;
    margin-bottom: 30px;
}

.employeeform1{
    font-size: 15px;
}

.employeeform2{
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
}